:root {
  /* primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}
body {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  background-image: url("src/assets/pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: white;
  border-radius: 1rem;
}

img {
  max-width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

p {
  text-align: center;
}

.payment-button{
  background-color: var(--bright-blue);
  color: white;
}