:root {
  /* primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --bright-blue-hover: hsla(245, 75%, 52%, 65%);
  /* neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  /* border radius */
  --border-radius-component: 15px;
  --border-radius-inner-elements: 10px;
}

body {
  font-size: 14px;
  font-family: "Red Hat Display", sans-serif;
  background-image: url("pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: white;
  border-radius: var(--border-radius-component);
  text-align: center;
}

.hero {
  max-width: 100%;
  border-radius: var(--border-radius-component) var(--border-radius-component)
    0px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 370px;
}

.container div {
  width: 80%;
}

.title {
  font-weight: 900;
  font-size: 1.5rem;
}

.description {
  font-weight: 500;
  color: var(--desaturated-blue);
}

.plan-selection {
  box-sizing: border-box;
  background-color: var(--very-pale-blue);
  border: 1rem solid var(--very-pale-blue);
  border-radius: var(--border-radius-inner-elements);
  /* border: 1px solid red; */
}

.left {
  height: 80%;
}

.left img {
  height: 100%;
}

.plan-detail-container {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.plan-detail-container div {
  flex-direction: column;
  width: max-content;
}

.plan-type {
  font-weight: 900;
}

.plan-cost {
  font-weight: 500;
  color: var(--desaturated-blue);
}

.plan-change-button {
  color: var(--bright-blue);
  font-weight: 700;
  text-decoration: underline;
  justify-content: right;
}

.plan-change-button:hover {
  color: var(--bright-blue-hover);
  text-decoration: none;
  cursor: pointer;
}

.payment-button {
  border-radius: var(--border-radius-inner-elements);
  background-color: var(--bright-blue);
  color: white;
  height: 3rem;
  box-shadow: 0px 20px 15px var(--pale-blue);
}

.payment-button:hover {
  background-color: var(--bright-blue-hover);
  cursor: pointer;
}

.cancel-button {
  color: var(--desaturated-blue);
  font-weight: 700;
}

.cancel-button:hover {
  color: var(--dark-blue);
  cursor: pointer;
}
